.field-group {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.field-group span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    color: limegreen;
    font-size: 22px;
}
 
.field:hover {
    background-color: green;
}